<section id="transport" class="container">
    <h1>Suchergebnis</h1>
    {{#each transport}}
    <div class="transport">
        <ul>
            <table>
                <tr>
                    <th>Paketstatus</th>
                    <td>{{transport_status}}</td>
                </tr>
                <tr>
                    <th>Paket-ID</th>
                    <td>{{paket_id}}</td>
                </tr>
                <tr>
                    <th>Paket</th>
                    <td>{{paket_bez}}</td>
                </tr>
                <tr>
                    <th>Retoureversuche</th>
                    <td>{{versuch}}</td>
                </tr>
                <tr>
                    <th>Tage nach Bestellung</th>
                    <td>{{alter}}</td>
            </table>
            <span>* Es gibt max. 3 Abhol- und Retoureversuche. Bestellungen können innerhalb von 14 Tagen ohne Angabe
                von
                Gründen
                rückgängig gemacht werden.</span></li>
        </ul>

    </div>
    {{else}}
    <p>Keine Daten verfügbar.</p>
    {{/each}}

    {{#each errors}}
        <div class="error">
            <p>{{text}}</p>
        </div>
        {{else}}
            {{#if confirmation}}
            <div class="confirmation">
                <p>{{confirmation.text}}</p>
            </div>
            {{else}}
                {{#if reserve}}
                <div style="display:flex; justify-content:flex-end; width:100%; padding:0;">
                    <a href="/transport/reserve" class="btn btn-reverse">Retoure beantragen</a>
                </div>
                {{else}}
                <div style="display:flex; justify-content:flex-end; width:100%; padding:0;">
                    <a href="/transport/reserve" class="btn btn-reverse">Retourefach reservieren</a>
                </div>
                {{/if}}
            {{/if}}
    {{/each}}
</section>
